body {
  margin: 0px;
  background-color: rgb(39, 26, 75);
}

#padre {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#card {
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

#inputs {
  width: 69%;
  padding: 9px;
  background-color: transparent;
  border: none;
  border: 1px solid #4c52a5;
  color: white;
}

#inputs::placeholder {
  color: rgb(194, 194, 194);
}

#inputs-2 {
  width: 69%;
  padding: 9px;
  border: none;
  border: 1px solid #4c52a5;
  color: white;
  background-color: #23254a;
}

#agregar-btn {
  padding: 10px 10px;
  background-color: #646cdb;
  color: white;
  border: none;
  transition: all 0.3s;
}

#agregar-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #646cdb;
}

#tarea {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #646cdb;
  display: "flex";
  justify-content: center;
  transition: all 0.3s;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

#iconos {
  color: rgb(227, 227, 227);
  font-size: 18px;
  margin-right: 10px;
}
#iconos:hover {
  cursor: pointer;
}

#texto-tareas {
  color: "white";
  font-family: "sans-serif";
  font-size: "17px";
}

#texto-tareas:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  #card {
    width: 360px;
  }
}
