body {
  margin: 0px;
}

#padre {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#card {
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  max-width: 500px;
  background-color: rgb(39, 26, 75);
  border-radius: 7px;
}

#inputs {
  width: 69%;
  padding: 9px;
  background-color: transparent;
  border: none;
  border: 1px solid #4c52a5;
  color: white;
  border-radius: 5px;
}

#inputs::placeholder {
  color: rgb(194, 194, 194);
}

#agregar-btn {
  padding: 10px 10px;
  background-color: #646cdb;
  color: white;
  border: none;
  transition: all 0.3s;
}

#agregar-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #646cdb;
}

#tarea {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #646cdb;
  display: "flex";
  justify-content: center;
}

#iconos {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}
#iconos:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  #card {
    width: 360px;
  }
}
